# 填写您的 DeepSeek API Key
DEEPSEEK_API_KEY="sk-c965ee6943ae4de2986c38bf4828adb1"

# （可选）OpenAI 的参数已被代码直接指定，无需填如下参数
# OPENAI_API_BASE="https://api.openai.com/v1"

# LangSmith 监控配置（可选，强烈推荐！）
# 这能让您在云端更好地可视化 LangGraph 的运行节点
# LANGCHAIN_TRACING_V2=true
# LANGCHAIN_API_KEY="lsv2_pt_xxxxxxxxxxxxxxxxxxxxxx"
