langchain>=0.2.0
langgraph>=0.1.0
langchain-openai>=0.1.0
python-dotenv>=1.0.0
langgraph-checkpoint-sqlite>=2.0.0
rank_bm25>=0.2.2
faiss-cpu>=1.7.4
langchain-huggingface>=0.0.1
sentence-transformers>=2.2.2
chromadb>=0.4.0
langchain-chroma>=0.1.0
pypdf>=3.0.0
beautifulsoup4>=4.12.0
